.home-section {
  margin-top: 100px;
}

.home-container {
  height: 100%;
}
.home-video {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.home-video video {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
  height: 24vw;
}
.home-video .title {
  text-align: center;
  padding: 20px;
  font-size: 30px;
  font-weight: 600;
}
.home-video .content {
  max-width: 70vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .home-video video {
    margin-top: 10px;
    width: 70vw;
    height: 50vw;
  }
  .home-video .title {
    font-size: 20px;
  }
  .home-video .content {
    max-width: 80vw;
    font-size: 20px;
  }
}
